 
   
    <div class="text-field">
      <%= form.text_field :email, type: 'email',  placeholder:" What's your email?" %>
    </div>

    <div class="password-field">
      <%= form.password_field :password, type: 'password', placeholder:" What's your password?" %>
    </div>

    <div class="submit-field">
      <%= form.submit "Sign In" %>
    </div>

